<a href="https://colab.research.google.com/github/nirajlondhe8/aiml/blob/main/pandas_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#  example demonstrates how to transform and aggregate data

import pandas as pd

# Sample data
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-03'],
    'Product': ['A', 'B', 'A', 'B', 'A'],
    'Sales': [100, 200, 150, 250, 300]
}

# Create DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Create pivot table
pivot_df = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc='sum', fill_value=0)

print("\nPivot Table:")
print(pivot_df)

Original DataFrame:
         Date Product  Sales
0  2024-01-01       A    100
1  2024-01-01       B    200
2  2024-01-02       A    150
3  2024-01-02       B    250
4  2024-01-03       A    300

Pivot Table:
Product       A    B
Date
2024-01-01  100  200
2024-01-02  150  250
2024-01-03  300    0